.layout {
  width: 134rem;
  min-height: calc(100vh - 2 * var(--pad-4-5rem));

  margin: 0 auto;
}

main {
  padding: var(--pad-4-5rem);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--color-white);
}
