.message {
  h1 {
    span {
      font-size: 3.2rem;
    }
    margin-top: 0;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 4.7rem;
  }

  img {
    width: 30rem;
    margin-bottom: 5rem;
  }
}
