.message {
  width: 50rem;
  h1 {
    span {
      font-size: 3.2rem;
    }
    margin-top: 0;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 4.7rem;
    color: var(--color-gray);
    font-size: 1.8rem;
    text-align: center;
  }

  img {
    width: 30rem;
    margin-bottom: 5rem;
  }
}
