.main {
  .header {
    margin-bottom: var(--pad-4-5rem);
    gap: 2rem;
  }

  .body {
    .bodyHeader {
      margin-bottom: 3.5rem;
    }

    .content {
      display: flex;
      row-gap: 6.5rem;
      column-gap: 3rem;
      flex-wrap: wrap;
      margin-bottom: 5rem;

      @media (max-width: 700px) {
        column-gap: 0;
        justify-content: space-between;
      }
    }

    .error {
      margin-bottom: 5rem;
    }
  }
}
