.roundBtn {
  border-radius: 100%;
  border: 1px solid var(--color-orange);
  width: 3.2rem;
  height: 3.2rem;

  transition: all 0.2s linear;

  svg {
    path {
      fill: var(--color-orange);
    }
  }

  &:hover {
    background-color: var(--color-orange);

    svg {
      path {
        fill: var(--color-white);
      }
    }
  }

  &:active {
    background-color: color-mix(in srgb, var(--color-orange), black 10%);
    border: 1px solid color-mix(in srgb, var(--color-orange), black 10%);

    svg {
      path {
        fill: var(--color-white);
      }
    }
  }
}

.gray {
  border: 1px solid var(--color-gray);

  svg {
    path {
      fill: var(--color-gray);
    }
  }

  &:hover {
    background-color: var(--color-gray);

    svg {
      path {
        fill: var(--color-white);
      }
    }
  }

  &:active {
    background-color: color-mix(in srgb, var(--color-gray), black 10%);
    border: 1px solid color-mix(in srgb, var(--color-gray), black 10%);

    svg {
      path {
        fill: var(--color-white);
      }
    }
  }
}
