.d-flex {
  display: flex;
}

// justify-content
.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

// align-items
.ai-c {
  align-items: center;
}

// flex-direction
.f-col {
  flex-direction: column;
}
