.cartItemBox {
  .pizza {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 30rem;

    img {
      width: 8rem;
      height: 8rem;
    }

    .name {
      font-size: 2.2rem;
      margin-bottom: 0.5rem;
    }

    .settings {
      font-size: 1.8rem;
      color: var(--color-gray);
      font-weight: 200;
    }
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
  }

  .price {
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 15rem;
  }
}
