// reset
@import "reset/reset";
@import "reset/normalize";

// variables
@import "variables/variables";

// utilites
@import "utilites/flex";

// mixins
@import "mixins/roundBtnMixin";

* {
  box-sizing: border-box;
  color: var(--color-black);
}

:root,
input,
button {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;

  @media (max-width: 1110px) {
    font-size: 57.1%;
  }

  @media (max-width: 932px) {
    font-size: 42.86%;
  }

  @media (max-width: 700px) {
    font-size: calc(0.1em + 1vw);
  }
}

body {
  background-color: #fae097;
  padding-top: var(--pad-4-5rem);
  padding-bottom: 0;

  @media (max-width: 767px) {
    padding: 0;

    background-color: var(--color-white);
  }
}

h1 {
  font-size: 3.2rem;
}

p,
span,
button,
a,
input,
li {
  font-size: 1.6rem;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
