// reset
@import "reset/reset";
@import "reset/normalize";

// variables
@import "variables/variables";

// utilites
@import "utilites/flex";

* {
  box-sizing: border-box;
  color: var(--color-black);
}

:root,
input,
button {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fae097;
  padding: var(--pad-4-5rem);
  padding-bottom: 0;
}

h1 {
  font-size: 3.2rem;
}

p,
span,
button,
a,
input,
li {
  font-size: 1.6rem;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
